@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-image: url(../../public/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input,
select {
  color: black;
}